.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}

.communityPeople {
    width: 100%;
    text-align: center;
}

.stickers {
    width: 62px;
    height: 62px;
}

.headerBottom {
    position: relative;
}

.rocket {
    position: absolute;
    top: 146px;
    left: -47px;
}

@media screen and (max-width: 767.98px) {
    .headerTop {
        padding: 57px 20px;
    }

    .headerBottom div {
        max-width: 320px;
    }

    .rocket {
        position: absolute;
        top: 15px;
        left: 291px;
        transform: scaleX(-1);

    }
}