* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF4;
    height: 100vh;
    margin: 0;
}

.mr-20 {
    margin-right: 20px;
}

.ml-123 {
    margin-left: 123px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-39 {
    padding-top: 39px;
}

.mt-0 {
    margin-top: 0;
}

.ml-0 {
    margin-left: 0;
}

.mt-240 {
    margin-top: 240px !important;
}

.mt-30 {
    margin-top: 30px;
}

.mt-70 {
    margin-top: 70px;
}

.mb-8 {
    margin-bottom: 8px !important;
}

.one-page {
    overflow: hidden;
}

.unbounded-font {
    font-family: Unbounded;
}

h2 {
    color: #2B2B2B;
    font-size: 40px;
    font-family: Unbounded;
    font-weight: 700;
    margin: 0;
}

h4 {
    color: #2B2B2B;
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

p,
a,
button,
label {
    color: var(--unnamed, #2B2B2B);
    font-size: 20px;
    font-family: Raleway;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.gray-font {
    color: #666;
}

.white-font {
    color: #FCFCFC;
    margin: 8px 0;
}

.btn {
    border-radius: 32px;
    background: #FF7F01;
    padding: 11px 52px;
    color: #FFFFFF;
    border: none;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid var(--unnamed, #2B2B2B);
    color: black;
    font-weight: 500;
    padding: 17px 45px !important;
}

.btn-size-17-102 {
    padding: 17px 102px;
}

.gray-btn {
    background-color: rgba(102, 102, 102, 0.35);
    color: #fff;
    width: 100%;
    margin-top: 19px;
}

.title {
    color: var(--unnamed, #FF7F01);
    font-size: 20px;
    font-family: Unbounded;
    font-weight: 500;
}

.subtitle {
    color: #2B2B2B;
    font-size: 18px;
    font-weight: 400;
}

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500 !important;
    /* !!!!!!добавила для десктоп !!!!!! */
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.fs-36 {
    font-size: 36px;
}

.fs-25 {
    font-size: 25px;
}

.fs-20 {
    font-size: 20px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px;
}

.text-left {
    display: flex;
    justify-content: left;
    align-items: center;
    /* !!!!!!!добавила align!!!!!!!!! */
}

.text-right {
    display: flex;
    justify-content: end;
}

.wrapper {
    width: 664px;
    padding-left: 46px;
    margin-right: 104px;
}

.orange-color {
    color: #FF7F01;
}

.center-container {
    position: relative;
    padding: 164px 0 0;
    max-width: 1140px;
    margin: 0 auto;
}

.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.directions-card {
    display: flex;
    width: 367px;
    margin: 15px 10px 15px;
    padding-bottom: 37px;
    flex-direction: column;
    border-radius: 20px;
    background-color: #FCFCFC;
    box-shadow: 0 2px 11px rgba(0, 0, 0, 0.2);
}

.directions-card h2,
p {
    margin: 20px 10px;
}

.target-sticker {
    position: absolute;
    top: 114px;
    right: -44px;
}

.direction-text-container {
    padding-left: 10px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 30px 30px 0px 0px;
    background: #FF7F01;
    padding: 68px 169px 83px 150px;
}

.icon-link {
    padding: 0 12px;
}

footer .logo {
    width: 128px;
    height: 78.503px;
}

.max-width570 {
    max-width: 570px;
}

.text-align-center {
    margin: 0 auto;
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.text-align-left {
    text-align: left;
}

.circle {
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(102, 102, 102, 0.35);
    margin-right: 10px;
    color: #FCFCFC;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 0;
}

.width-24 {
    width: 24px;
    padding: 4px 0;
    background-color: #FF7F01;
}

.dash {
    display: inline-block;
    width: 39%;
    height: 1px;
    background-color: rgba(102, 102, 102, 0.35);
    margin: 14px 2px;
}

.login-form {
    margin-top: 56px;
    padding: 24px;
    background-color: #fff;
    max-width: 43%;
    border-radius: 24px;
}

.form-group {
    margin-top: 24px;
}

.form-group label {
    display: block;
    text-align: left;
    font-size: 14px;
}

.form-group p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 11px;
}

.form-group input {
    padding: 18px 0;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    width: 100%;
    box-sizing: border-box;
}

.width190 {
    width: 31% !important;
}

.width300 {
    width: 315px;
}

select {
    padding: 18px 0;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    width: 100%;
    box-sizing: border-box;
}

.login-container {
    margin: 90px 0;
}

.results-card {
    background-color: #fff;
    max-width: 465px;
    padding: 40px 110px;
    border-radius: 24px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);
}



.timer {
    position: absolute;
    right: 0px;
    top: -20px;
}




@media screen and (max-width: 767.98px) {

    .mt-240 {
        margin-top: 0 !important;
    }

    .mt-150 {
        margin-top: 150px !important;
    }

    .pt-25 {
        padding-left: 25px;
    }

    .pt-20 {
        padding-top: 0;
    }

    .pl-60 {
        padding-left: 60px;
    }

    .fw-5 {
        font-weight: 500;
    }

    header button {
        display: none;
    }

    .center-container {
        max-width: 351px;
        padding-top: 49px;
    }

    .center-wrapper {
        flex-wrap: wrap;
        position: relative;
    }


    .wrapper {
        width: 360px;
        margin: 0;
        padding: 0;
        order: 2;
    }

    .width190 {
        width: 100% !important;
        margin-right: 20px;
    }

    .wrap-items {
        flex-wrap: wrap;
    }

    .img-container {
        order: 1;
    }

    .img-container img {
        width: 360px;
    }

    .target-sticker {
        visibility: hidden;
    }

    .directions-card h2 {
        margin: 10px 10px;
    }

    .directions-card p {
        margin: 10px 10px;
    }

    h2 {
        font-size: 19px !important;
    }

    p {
        font-size: 17px;
    }

    .btn-square {
        border-radius: 10px;
        background: var(--unnamed, #FF7F01);
        padding: 15px 49px;
        font-size: 25px;
        font-family: Unbounded;
        font-weight: 500;
    }

    footer {
        padding: 32px 20px 21px;
        justify-content: flex-start;
    }


    footer div {

        padding: 10px 20px;
    }

    .block {
        width: 100%;
        text-align: center;
    }

    .social-media-wrapper {
        display: flex;
        flex-wrap: wrap;
        width: 100px;
    }

    .social-media-wrapper img {
        padding: 10px 0;
    }

    .timer {
        top: -167px;
    }

    .align-to-height {
        display: flex;
        align-items: center;
        height: 50vh;
        justify-content: center;

    }

}