* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBF4;
    margin: 0;
    overflow-x: hidden;
}

.mr-20 {
    margin-right: 20px;
}

.mt-0 {
    margin-top: 0;
}

.pt-12 {
    padding-top: 12px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-39 {
    padding-top: 39px;
}

.btn {
    border-radius: 32px;
    background: #FF7F01;
    padding: 11px 52px;
    color: #FFFFFF;
    border: none;
}

.btn:hover {
    cursor: pointer;
}

h2 {
    color: #2B2B2B;
    font-size: 40px;
    font-family: Unbounded;
    font-weight: 700;
    margin: 0;
}

p,
a,
button {
    color: #2B2B2B;
    font-size: 20px;
    font-family: Raleway;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.white-font {
    color: #FCFCFC;
    margin: 8px 0;
}

.fw-3 {
    font-weight: 300;
}

.fw-4 {
    font-weight: 400;
}

.fw-5 {
    font-weight: 500;
}

.fw-6 {
    font-weight: 600;
}

.fw-7 {
    font-weight: 700;
}

.fs-14 {
    font-size: 14px;
}

.fs-36 {
    font-size: 36px;
}

.fs-25 {
    font-size: 25px;
}

.fs-16 {
    font-size: 16px;
}

.text-left {
    display: flex;
    justify-content: left;
}

.text-right {
    display: flex;
    justify-content: end;
}

.wrapper {
    width: 664px;
    padding-left: 46px;
    margin-right: 104px;
}

.orange-color {
    color: #FF7F01;
}

.main-center-container {
    max-width: 1140px;
    margin: 0 auto;
}

.center-container {
    position: relative;
    padding: 164px 0 0;
    max-width: 1140px;
    margin: 0 auto;
}

.center-wrapper {
    display: flex;
    justify-content: center;
}

.ml-0 {
    margin-left: 0;
}

.text-align-left {
    text-align: left;
}

.text-align-center {
    margin: 0 auto;
    text-align: center;
}

.gray-font {
    color: #666;
}

.gray-btn {
    background-color: rgba(102, 102, 102, 0.35);
    color: #fff;
    width: 100%;
    margin-top: 19px;
}


@media screen and (max-width: 767.98px) {
    .main-center-container {
        padding: 0 20px;
    }

    .pt-25 {
        padding-left: 25px;
    }

    .ml-10 {
        margin-left: 10px;
    }

    .pt-20 {
        padding-top: 0;
    }

    .pl-60 {
        padding-left: 60px;
    }


    .mt-30 {
        margin-top: 30px;
    }

    .fw-5 {
        font-weight: 500;
    }

    header button {
        display: none;
    }

    .center-container {
        max-width: 351px;
        padding-top: 49px;
        margin: 0 12px;
    }

    .center-wrapper {
        flex-wrap: wrap;
        position: relative;
    }

    .wrapper {
        width: 360px;
        margin: 0;
        padding: 0;
        order: 2;
    }

    .img-container {
        order: 1;
    }

    .img-container img {
        width: 360px;
    }

    .target-sticker {
        visibility: hidden;
    }

    .directions-card h2,
    p {
        margin: 10px 0;
    }

    h2 {
        font-size: 19px !important;
    }

    p {
        font-size: 17px;
    }

    .btn {
        border-radius: 10px;
        background: #FF7F01;
        padding: 15px 49px;
        font-size: 25px;
        font-family: Unbounded;
        font-weight: 500;
    }
}