h4 {
    color: #2B2B2B;
    text-align: center;
    font-family: Raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 68px;
}

.form_group {
    margin-top: 24px;
}

.form_group label {
    display: block;
    text-align: left;
    font-size: 14px;
}

.form_group p {
    font-size: 14px;
    margin: 0;
    padding-bottom: 11px;
}

.form_group input {
    padding: 18px 15px;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
}

.dash {
    display: inline-block;
    width: 39%;
    height: 1px;
    background-color: rgba(102, 102, 102, 0.35);
}

.login_form {
    margin-top: 56px;
    padding: 24px;
    background-color: #fff;
    max-width: 43%;
    border-radius: 24px;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.12);

}

.circle {
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(102, 102, 102, 0.35);
    margin-right: 10px;
    color: #FCFCFC;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 500;
    padding: 2px 0;
}

.orange_circle {
    background-color: #FF7F01;
    color: #FCFCFC;
}

.width_24_orange_circle {
    width: 29px;
    padding: 6px 0;
    background-color: #FF7F01;
}

.width300 {
    width: 315px;
}

select {
    padding: 18px 0;
    border-radius: 12px;
    border: 1px solid rgba(102, 102, 102, 0.35);
    width: 100%;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url(../../assets/selectIcon.svg) no-repeat;
    background-position: right 20px center;
    padding-right: 25px;

}

.login_container {
    margin: 90px 0;
}

.timer {
    position: absolute;
    right: 0px;
    top: -20px;
}

.gray_font {
    color: rgba(102, 102, 102, 0.35);
}

.max_width570 {
    max-width: 570px;
}

.wrap_items {
    display: flex;
    flex-wrap: wrap;
}

.wrap_items label {
    justify-content: start;
    display: flex;
}

.width190 {
    width: 204px !important;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50px;
}

.next_step_container {
    display: flex;
    margin: 56px 0;
}