.headerTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 14px;
}

.headerBottom {
    position: relative;
    padding-top: 164px;
}

.titleBox{
}

.stickers {
    width: 62px;
    height: 62px;
}

.rocket {
    position: absolute;
    top: 146px;
    left: -47px;
}

.subtitleBox{
}

.communityPeople {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 767.98px) {
    .headerTop {
        padding: 30px 0px;
    }

    .rocket {
        position: absolute;
        top: 15px;
        left: 283px;
        transform: scaleX(-1);

    }
}